.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding: 25px;
}
.recipe h1{
    text-align: center;
}
.recipe img{
    border-radius: 50%;
    max-width: 75%;
    height: auto;
}

@media only screen and (max-width: 580px) {
    .recipe{
        font-size: 0.8rem;
    }
    .recipe h1{
        font-size: 1.6rem;
    }
    .recipe h3{
        font-size: 1.1rem;
    }
}